.idea/

# === Jupyter Notebooks ===
.ipynb_checkpoints/
*/.ipynb_checkpoints/


# === Python Core ===
__pycache__/
*.py[cod]
*$py.class

# === Virtual Environments ===
.venv/
venv/
env/
ENV/
modules/

# === Environment Variables ===
.env
.env.local

# === Data & Large Files ===
.ipynb_checkpoints/
*.xlsx
*.jsonl
*.parquet
*.pkl
*.pickle
*.h5
*.models/
*.py

# === CSVs ===
data/listing
data/sold/raw/
data/sold/cleaned/
data/sold/cleaned_all.csv
data/sold/split/